
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" dir="rtl">
                <h3> اولین همایش سراسری </h3>
                <h1><span class="highlight">شوالیه مدیران برتر</span></h1>
                <h5> کنسرسیوم نگاه</h5>
                <h5>نگاهی به بلندای ققنوس</h5>
                <br>
            </div>
            <div class="text-right" dir="rtl" style="padding: 5px;">
                <p>همایش سراسری شوالیه مدیران برتر اولین همایش تجلیل از مدیران برتر و نمونه کشوری در سال یک هزار و سیصد و نود و نه با توجه به اوضاع خاص اقتصادی کشور برگزار می‌شود. برآیند فرجامین کوشش همیشگی بشر برای بهبود شرایط زندگی در طول حیات چند هزار ساله جاودانگی و ماندگاری بوده است، معنای که بالاتر از باید های زیستی انسان تولدی از هستی بی نهایت طلبی بشر تلاش برای تجسم بخشیدن به ارزش های معنوی اش در جهت کمال بیان می‌شود و حیات هر جامعه در پاسخگویی به توفیقات در رابطه با همین نیازهاست. از این رو کنسرسیوم نگاه با یک نگاهی بدون حد و مرز و منحصر به فرد مطابق با چارچوب ملی به دنبال خلق ایده با ابعاد وسیع با توجه به نیاز های مادی و معنوی خود و با بهره گیری از یک هدف واحد افق های نوین و و با رویکردی آینده نگر در پی کشف و خلق آن در ساختار جامعه با رهنمودهای مطابق و حوزه‌های مختلف در ارتقای اجرایی سازی در راستای رویکردهای زمینه‌ساز با افق های نگرشی است. </p>
                <p>شرکت همایش افزار نگاه با مجموعه‌ای متشکل از ژنرالهای برگزاری همایش های ملی و بین المللی تحت لقای کنسرسیوم نگاه در راستای بررسی و تحقق موارد فوق الذکر در نظر دارد همایش سراسری را تحت عنوان شوالیه مدیران برتر با گرد هم آوردن مدیران برجسته و موفق، صاحب نظران و اندیشمندان، دانشگاهیان، سیاست‌گذاران، سازمان های ذیربط، مهندسین مشاور، متخصصان و علاقمندان به این حوزه به تبیین و اهداف مرتبط با محورهای همایش بپردازد. ماندگاری برند شرکت کننده در همایش در تاریخ کهن این سرزمین، برگزاری دوره های آموزشی مدیریت در همایش، اعطای گواهینامه شرکت در دوره، تجلیل از مدیران برجسته و ایجاد فرصتی مناسب برای تبادل اطلاعات و ساخت کانال های ارتباطی بین مدیران و وزیر مربوطه که عامل پیشرفت و دلگرمی مدیران عزیز می شود،از اهداف این همایش می باشد.</p>
                <p>نگاه بر آن است که شرکت کننده در این همایش به جای تبلیغات پر هزینه و کم بازده برای پروسه برندینگ خود با استفاده از نگاهی هوشمندانه و روشهای نوین و برندینگ همتای همایش های سراسری، مدیرعامل آن مجموعه را به عنوان شوالیه و برند بیرون نیز به عنوان نشان شوالیه و جهانیان معرفی نماید. نگاه از نشان شما اثری ماندگار خلق می نماید.</p>
                <br />
                <h6><span class="highlight">محورهای همایش:</span></h6>
                <ul>
                    <li>•	نقش فناوری های نوین و هوشمند سازی در رابطه با سیستم آموزش</li>
                    <li>•	نوآوری و ایجاد خلق خلاقیت و آشنایی با تکنیک های نوین آموزش</li>
                    <li>•	اثربخشی سیستم های سازمان یافته در جهت سازماندهی در مدیریت بحران</li>
                    <li>•	اهمیت و بهره مندی سرمایه گذاری در آموزش در فرآیند رشد و توسعه اقتصادی</li>
                    <li>•	راهکارهای اساسی جهت تسهیل در امور کارآفرینان و تولید در جامعه</li>
                    <li>•	نقش صنعت و صادرات در بهره مندی و بهره‌وری رشد اقتصاد ملی</li>
                    <li>•	نقش صنعت و صادرات در بهره مندی و بهره‌وری رشد اقتصاد ملی</li>
                    <li>•	بهره گیری از هوش استراتژیک مدیران و ارائه راهبردهای کلان اقتصادی برای خروج از دوران تورمی و پاندمی</li>
                    <li>•	بررسی جایگاه مدیران موفق در حمایت از تولید و خدمات با چشم انداز جدید</li>
                    <li>•	بررسی مشکلات مدیران و رفع موانع با اهداف پایه گذار</li>
                    <li>•	برنامه ریزی و مدیریت</li>
                    <li>•	کارآفرینان نمونه</li>

                </ul>
                <br />
                <h6><span class="highlight">مزایای همایش:</span></h6>
                <ul>
                    <li>•	تجلیل از مدیران برجسته</li>
                    <li>•	اعطای تندیس</li>
                </ul>
                <br />
                <h6><span class="highlight">اهداف همایش</span></h6>
                <h6 class="h7"> اهداف جزئی:</h6>
                <ul>
                    <li>•	آشنایی با جدیدترین نگاه‌ها به بلندای ققنوس با مفاهیم فناوری های نوین</li>
                    <li>•	شناسایی سازمانهای ارائه خدمات دانش محور</li>
                    <li>•	راهکارهای راهبردی در بهره وری از پژوهش‌های کاربردی</li>
                    <li>•	معرفی دستاوردها و توانمندی های نوین در کشور</li>
                    <li>•	ارتباط با مدیران و انگیزه های نسل جدید در جهت شکوفایی</li>
                    <li>•	بررسی چالش ها در حوزه های گوناگون</li>
                    <li>•	زمینه سازی در راستای تشویق و ترغیب به افراد فعال در رویارویی فناوری های نوین</li>
                    <li>•	برقراری ارتباط گسترده بین نهادهای علمی و اجرایی در جهت تحقق و تبیین محورهای همایش</li>

                </ul>
                <br />
                <h6 class="h7"> اهداف کلی:</h6>
                <ul>
                    <li>•	بررسی اثرات متقابل بخش های مختلف سیستم جامع مدیریت در سایر بخش ها</li>
                    <li>•	ترغیب و به کارگیری بخش خصوصی به استفاده از فناوری‌های نوین در امر توسعه پایدار</li>
                    <li>•	آفرینش بستر مناسب برای انتقال دانش به سایر کشورها در راستای پیشرفت و تکنولوژی</li>
                    <li>•	توسعه و ترویج فرهنگ برای نسل آینده در جهت هویت</li>
                    <li>•	شناخت و تبیین شاخص های هویتی در جهت هویت سازی</li>
                </ul>
                <br />
                <h6><span class="highlight">نگاه در یک نگاه</span></h6>
                <div align="center">
                    <style type="text/css">
                        .tg {
                            border-collapse: collapse;
                            border-color: #ccc;
                            border-spacing: 0;
                            font-family: mellatweb-isans !important;
                            text-align: center !important;
                            vertical-align: middle;
                        }

                            .tg td {
                                background-color: #fff;
                                border-color: #ccc;
                                border-style: solid;
                                border-width: 1px;
                                color: #333;
                                font-family: mellatweb-isans !important;
                                font-family: Arial, sans-serif;
                                font-size: 14px;
                                overflow: hidden;
                                padding: 10px 5px;
                                word-break: normal;
                            }

                            .tg th {
                                background-color: #f0f0f0;
                                border-color: #ccc;
                                border-style: solid;
                                border-width: 1px;
                                color: #333;
                                font-family: mellatweb-isans !important;
                                font-family: Arial, sans-serif;
                                font-size: 14px;
                                font-weight: normal;
                                overflow: hidden;
                                padding: 10px 5px;
                                word-break: normal;
                                text-align: center !important;
                            }

                            .tg .tg-baqh {
                                text-align: center;
                                vertical-align: top;
                                font-family: mellatweb-isans !important;
                            }
                    </style>
                    <table class="tg">
                        <thead>
                            <tr>
                                <th class="tg-baqh">سرمایه های فکری</th>
                                <th class="tg-baqh">نوآوری در کنسرسیوم نگاه</th>
                                <th class="tg-baqh">هوش سازمانی</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tg-baqh">سرمایه انسانی</td>
                                <td class="tg-baqh">اشتراک دانش و تکنولوژی جدید</td>
                                <td class="tg-baqh">چشم انداز استراتژیک با نگاه</td>

                            </tr>
                            <tr>
                                <td class="tg-baqh">سرمایه ساختاری</td>
                                <td class="tg-baqh">ورود دانش و تکنولوژی به نگاه</td>
                                <td class="tg-baqh">سرنوشت مشترک</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">سرمایه ارتباطی</td>
                                <td class="tg-baqh">خروج دانش و تکنولوژی از  نگاه</td>
                                <td class="tg-baqh">میل به تغییر</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh" rowspan="4"></td>
                                <td class="tg-baqh" rowspan="4"><img src="/assets/img/clip_image001.png"></td>
                                <td class="tg-baqh">روحیه</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">اتحاد و توافق</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">کاربرد دانش</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">فشار عملکرد</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <h7>برگزارکننده:<span class="highlight">کنسرسیوم نگاه</span></h7><br />
                <h7>محل برگزاری: <span class="highlight">ایران - تهران</span></h7><br />
                <h7>تاریخ برگزاری: <span class="highlight">1399/08/23</span></h7><br />
            </div>
            <div class="text-center">
                <a href="/home" class="btn btn-lg btn-outline-clr">بازگشت</a>

            </div>
        </div>
    </div>
</section>

@section scripts {

    <script>
        $(document).ready(() => {
            $(".navigation-container").hide();
        });
    </script>
}

