<html lang="en">
<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>نگاه-برگزارکننده ایونت</title>

    <meta name="description" content="PSD to HTML5+CSS3 conversion.">
    <meta name="keywords" content="PSD, HTML5, CSS3">
    <meta name="author" content="Vivaco">

    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.jpg">

    <link rel="stylesheet" type="text/css" href="assets/css/custom-animations.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="assets/css/rtl.css" rel="stylesheet" />


    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/41/8/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/41/8/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/41/8/geocoder.js"></script>
</head>

<body>
    <div class="preloader-mask" style="display: none;">
        <div class="preloader"></div>

    </div>

    <section id="hero" class="hero-section bg1 bg-cover window-height light-text" style="min-height: 920px; padding-top: 138.5px; padding-bottom: 0px;">

        <ul class="socials-nav">
            <li class="socials-nav-item"><a href="https://www.twitter.com/negah_event"><span class="fa fa-twitter"></span></a></li>
            <li class="socials-nav-item"><a href="https://www.facebook.com/negah_event"><span class="fa fa-facebook"></span></a></li>
            <li class="socials-nav-item"><a href="https://www.linkedin.com/company/negah-event"><span class="fa fa-linkedin"></span></a></li>
            <li class="socials-nav-item"><a href="https://www.youtube.com/negah_event"><span class="fa fa-youtube"></span></a></li>
            <li class="socials-nav-item"><a href="https://www.instagram.com/negah_event"><span class="fa fa-instagram"></span></a></li>
        </ul>

        <div class="heading-block centered-block align-center">

            <div class="container">
                <h5 class="heading-alt" style="margin-bottom: 8px;">
                    بیست و سوم آبان 1399
                    &nbsp; &nbsp; &nbsp; &nbsp;   <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>
                    تهران- سالن همایش های بین المللی صدا و سیما
                    <span class="fa fa-calendar-o base-clr-txt"></span>
                </h5>
                </br>
                <center><img src="assets/img/logoKnight.png" alt="شوالیه مدیران برتر" width="350" height="350" class="img-responsive"></center>

                
                <div class="btns-container">
                    <a href="#" class="btn btn-md" data-modal-link="email-ticket">خرید بلیط</a>
                    <a href="#" class="btn btn-outline btn-md" data-modal-link="0">ویدیو</a>
                </div>
            </div>
        </div>

    </section>

    <header class="header header-black fixed" style="min-height: 100px;">
        <div class="header-wrapper">
            <div class="container">
                <div class="col-sm-2 col-xs-12 navigation-header" style="padding: 0;">
                    <a href="#" class="logo">
                        <img src="/assets/img/ventcamp_logo.png" alt="همایش نگاه" style="height: 100px; width: 115px;" class="retina-hide">
                    </a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="col-sm-10 col-xs-12 navigation-container" style=" float: right;">
                    <div id="navigation" class="navbar-collapse collapse" style="max-height: 669px;">
                        <ul class="navigation-list pull-left light-text">
                            <li class="navigation-item"><a href="#contacts" class="navigation-link">تماس با ما</a></li>
                            <li class="navigation-item"><a href="#speakers" class="navigation-link">سخنرانان</a></li>
                            <li class="navigation-item"><a href="#schedule" class="navigation-link">زمانبندی</a></li>
                            <li class="navigation-item"><a href="#prices" class="navigation-link">قیمت ها</a></li>
                            <li class="navigation-item"><a href="#gallery" class="navigation-link">گالری</a></li>
                            <li class="navigation-item"><a href="#sponsors" class="navigation-link">اسپانسرها</a></li>

                            @*<li class="navigation-item dropdown">
                                    <a class="navigation-link dropdown-toggle" data-toggle="dropdown">Elements</a>
                                    <ul class="dropdown-menu" style="max-height: 770px;">
                                        <li class="navigation-item"><a href="elements/contacts.html" class="navigation-link">Advanced Maps</a></li>
                                        <li class="navigation-item"><a href="elements/buttons.html" class="navigation-link">Buttons</a></li>
                                        <li class="navigation-item"><a href="elements/content.html" class="navigation-link">Content</a></li>
                                        <li class="navigation-item"><a href="elements/counters.html" class="navigation-link">Counters</a></li>
                                        <li class="navigation-item"><a href="elements/countdown.html" class="navigation-link">Countdown</a></li>
                                        <li class="navigation-item"><a href="elements/call_to_action.html" class="navigation-link">Call to action</a></li>
                                        <li class="navigation-item"><a href="elements/gallery.html" class="navigation-link">Gallery</a></li>
                                        <li class="navigation-item"><a href="elements/navigations.html" class="navigation-link">Navigation</a></li>
                                        <li class="navigation-item"><a href="elements/pricing.html" class="navigation-link">Prices</a></li>
                                        <li class="navigation-item"><a href="elements/schedule.html" class="navigation-link">Schedule</a></li>
                                        <li class="navigation-item"><a href="ho/speakers.html" class="navigation-link">Speakers</a></li>
                                        <li class="navigation-item"><a href="elements/tabs.html" class="navigation-link">Tabs</a></li>
                                        <li class="navigation-item"><a href="elements/tables.html" class="navigation-link">Tables</a></li>
                                        <li class="navigation-item"><a href="elements/testimonials.html" class="navigation-link">Testimonials</a></li>
                                        <li class="navigation-item"><a href="elements/typography.html" class="navigation-link">Typography</a></li>
                                        <li class="navigation-item"><a href="elements/sponsors.html" class="navigation-link">Sponsors</a></li>
                                    </ul>
                                </li>*@
                        </ul>

                        @*<a href="#" class="pull-right buy-btn">Buy Tickets</a>*@
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about" class="section align-center">
        <div class="container">
            <span class="icon section-icon icon-multimedia-12"></span>
            <h3>درباره نگاه</h3>
            <p class="text-alt">نگاه، برگزار کننده ایونت های بزرگ در سطح ایران و بین الملل</p>
            <br>
            <br>

            <div class="tabs-wrapper tabs-horizontal">
                <div class="nav-wrapper">
                    <span class="nav-current">
                        <h6 class="heading-alt"><span class="fa fa-code"></span> General info</h6>
                    </span>
                    <ul class="nav nav-tabs">

                        @*<li>
                                <a href="#horizontal_tab1" data-toggle="tab">
                                    <h6 class="heading-alt"><span class=""></span> </h6>
                                </a>
                            </li>

                            <li>
                                <a href="#horizontal_tab2" data-toggle="tab">
                                    <h6 class="heading-alt"><span class=""></span> </h6>
                                </a>
                            </li>*@

                        <li class="active">
                            <a href="#horizontal_tab3" data-toggle="tab">
                                <h6 class="heading-alt"><span class="fa fa-external-link"></span> درباره همایش</h6>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <!-- <div id="horizontal_tab1" class="tab-pane fade active in">
                                                <div class="col-sm-5 img-column">
                                                    <img src="assets/img/imac-371x412.png" alt="" class="img-responsive">
                                                </div>
                                                <div class="col-sm-7 align-left">
                                                    <h6>About event</h6>
                                                    <p>Faucibus sed pretium. Ridiculus <strong>consectetuer</strong> et. In arcu enim sit in libero scelerisque mauris sed. Nullam eleifend in varius arcu vitae feugiat magna id ut morbi consectetuer. In vivamus arcu. Id ut dui. Sed massa in. Scelerisque suscipit quisque maecenas aliquet in. Wisi mi ipsum. Elit et mauris. Duis in magni praesent <a href="#">content</a> massa.</p>
                                                    <p>Consectetuer amet wisi felis sem <strong>tincidunt</strong>. Ultricies blandit id euismod inceptos mauris pulvinar nec nullam quisque consequat nulla eleifend elementum vivamus aliquam placerat nec. Vehicula leo praesent vitae leo mauris ullamcorper lectus sed mollis id turpis dui cras suspendisse. Porta diam <a href="#">eleifend</a>. Praesent magnis sit. Enim ligula vel justo urna.</p>
                                                    <ul>
                                                        <li>Nisl cras vitae wisi odio amet.</li>
                                                        <li>Lacus amet vestibulum belas</li>
                                                        <li>Quis nunc curabitur assumenda</li>
                                                    </ul>
                                                </div>
                                            </div>
                    -->
                    <div id="horizontal_tab2" class="tab-pane fade active in">
                        <div class="col-sm-7 align-right">
                            <h6>شوالیه مدیران برتر چیست؟</h6>
                            <p>همایش شوالیه مدیران برتر با هدف ایجاد بستری برای تعامل و به اشتراک گذاری تجربه های مدیران و لیدرهای برتر کشور در زمینه های مختلف برگزار میشود. در این همایش با معرفی برندها و خدمات شرکت کنندگان عزیز، تلاش می شود تا همکاری بین صنایع و خدمات ایران تسهیل شود.</p>
                            <p>شوالیه مدیران برتر فرصتی برای بهره مندی از نکات آموزشی یکی از برجسته ترین اساتید در زمینه مدیریت و برندینگ خواهد بود. همچنین این همایش بزرگ تریبونی خواهد بود برای برخی از شرکت کنندگان محترم تا با زبان خود هر آنچه را که میخواهند با دیگران به اشتراک بگذارند.</p>
                            <p>این همایش فرصتی برای ملاقات چهره به چهره در محیطی صمیمی را فراهم خواهد آورد.</p>
                            <p>تلاش ما این است که این همایش بزرگ برای شرکت کنندگان عزیز، تبدیل به یک رزومه مثبت در راستای رشد و پیشرفت صنایع و خدمات آنها شود.</p>
                            <p>با رسانه ای شدن شوالیه مدیران برتر، فرصت بهتر دیده شدن همایش برای کل ایران فراهم خواهد شد.</p>
                            <!-- <ul>
                                <li>Nisl cras vitae wisi odio amet.</li>
                                <li>Lacus amet vestibulum belas</li>
                                <li>Quis nunc curabitur assumenda</li>
                            </ul>-->
                        </div>

                        <div class="col-sm-5 img-column">
                            <img src="assets/img/imac-371x412.png" alt="" class="img-responsive">
                        </div>
                    </div>

                    <!-- <div id="horizontal_tab3" class="tab-pane fade active in">
                        <div class="col-sm-5 img-column">
                            <img src="assets/img/imac-371x412.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-7 align-left">
                            <h6>Sponsors apply</h6>
                            <p>Faucibus sed pretium. Ridiculus <strong>consectetuer</strong> et. In arcu enim sit in libero scelerisque mauris sed. Nullam eleifend in varius arcu vitae feugiat magna id ut morbi consectetuer. In vivamus arcu. Id ut dui. Sed massa in. Scelerisque suscipit quisque maecenas aliquet in. Wisi mi ipsum. Elit et mauris. Duis in magni praesent <a href="#">content</a> massa.</p>
                            <ul>
                                <li>Nisl cras vitae wisi odio amet.</li>
                                <li>Lacus amet vestibulum belas</li>
                                <li>Quis nunc curabitur assumenda</li>
                            </ul>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </section>

    @*<section class="section align-center overlay overlay-clr light-text">
            <div class="container">

                <h5 class="heading-alt">شمارش معکوس همایش سراسری شوالیه مدیران برتر</h5>
                <p class="text-alt" style="margin-bottom: 80px;"></p>


                <div class="row counters-wrapper countdown">
                    <div class="col-sm-3">
                        <div class="counter-block counter-block-white has-separator">
                            <div class="counter-box">
                                <div class="counter-content">
                                    <span class="count">{dnn}</span>

                                    <p class="title">روز</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="counter-block counter-block-no-border counter-block-white has-separator">
                            <div class="counter-box">
                                <div class="counter-content">
                                    <span class="count">{hnn}</span>

                                    <p class="title">ساعت</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="counter-block counter-block-no-border counter-block-white has-separator">
                            <div class="counter-box">
                                <div class="counter-content">
                                    <span class="count">{mnn}</span>

                                    <p class="title">دقیقه</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="counter-block counter-block-no-border counter-block-white">
                            <div class="counter-box">
                                <div class="counter-content">
                                    <span class="count">{snn}</span>

                                    <p class="title">ثانیه</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@

    <section class="section align-center overlay overlay-clr light-text">
        <div class="container">

            <h5 class="heading-alt" style="font-family:mellatweb-isans !important;">شمارش معکوس همایش سراسری شوالیه مدیران برتر</h5>


            <!-- Countdown start -->
            <div class="row counters-wrapper countdown">
                <div class="col-sm-3">
                    <div class="counter-block counter-block-no-border has-separator">
                        <div class="counter-box">
                            <div class="counter-content">
                                <span class="count">{dnn}</span>
                                <p class="title">روز</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="counter-block counter-block-no-border has-separator">
                        <div class="counter-box">
                            <div class="counter-content">
                                <span class="count">{hnn}</span>
                                <p class="title">ساعت</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="counter-block counter-block-no-border has-separator">
                        <div class="counter-box">
                            <div class="counter-content">
                                <span class="count">{mnn}</span>
                                <p class="title">دقیقه</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="counter-block counter-block-no-border">
                        <div class="counter-box">
                            <div class="counter-content">
                                <span class="count">{snn}</span>
                                <p class="title">ثانیه</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    @*<section id="counters" class="section align-center overlay bg-cover bg5 light-text">

            <div class="container">

                <div class="row counters-wrapper">
                    <div class="col-sm-3">
                        <div class="counter-block counter-block-no-border">
                            <div class="counter-box">
                                <div class="counter-content">
                                    <span class="count" data-from="0" data-to="43">43</span>

                                    <p class="title">ثانیه</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="counter-block counter-block-no-border">
                            <div class="counter-box">
                                <div class="counter-content">
                                    <span class="count" data-from="0" data-to="25">25</span>

                                    <p class="title">دقیقه</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="counter-block counter-block-no-border">
                            <div class="counter-box">
                                <div class="counter-content">
                                    <span class="count" data-from="0" data-to="18">18</span>

                                    <p class="title">ساعت</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="counter-block counter-block-no-border">
                            <div class="counter-box">
                                <div class="counter-content">
                                    <span class="count" data-from="0" data-to="32">32</span>

                                    <p class="title">روز</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>*@

    <section id="speakers" class="section align-center">
        <div class="container">
            <span class="icon section-icon icon-faces-users-04"></span>
            <h3>سخنرانان</h3>
            <p class="text-alt">کارشناسان <span class="highlight">ما را ملاقات کنید</span></p>
            <br>
            <br>

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker1.jpg" alt="John Doe" class="img-responsive"></div>
                    <h3 class="name">ERIC BOLDY</h3>
                    <p class="text-alt"><small>Project Manager</small></p>
                    <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker2.jpg" alt="John Doe" class="img-responsive"></div>
                    <h3 class="name">سخنران</h3>
                    <p class="text-alt"><small>VP Product  Flopbox</small></p>
                    <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker3.jpg" alt="دکتر کامران صحت" class="img-responsive"></div>
                    <h3 class="name">دکتر کامران صحت</h3>
                    <p class="text-alt"><small>مدرس و مشاور برترین برندهای داخلی و بین المللی</small></p>
                    <p class="about">دکتر کامران صحت متولد 24/03/1353 در شهر تهران می باشد. ایشان دارای مدرک لیسانس مترجمی زبان انگلیسی از دانشگاه آزاد اسلامی واحد تهران مرکز و مدرک MBA گرایش بازاریابی و مدرک DBA گرایش بازاریابی از لندن می باشند.</p>
                    <ul class="speaker-socials">
                        <li><a href="#"><span class="fa fa-facebook-official"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <center>
            <span class="icon section-icon icon-faces-users-03"></span>
            <h3>عوامل برگزار کننده</h3>
        </center>
        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker4.jpg" alt="John Doe" class="img-responsive"></div>
                <h3 class="name">MARTIN BRANSON</h3>
                <p class="text-alt"><small>Evangelist  Doogle</small></p>
                <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <ul class="speaker-socials">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker5.jpg" alt="John Doe" class="img-responsive"></div>
                <h3 class="name">AMY WARNER</h3>
                <p class="text-alt"><small>Graphic Designer</small></p>
                <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <ul class="speaker-socials">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img src="assets/img/speakers/speaker6.jpg" alt="John Doe" class="img-responsive"></div>
                <h3 class="name">ALEC KROSOVIC</h3>
                <p class="text-alt"><small>Project Manager</small></p>
                <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <ul class="speaker-socials">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <section id="schedule" class="section schedule-section align-center">
        <div class="container">
            <span class="icon section-icon icon-office-21"></span>
            <h3>زمانبندی همایش</h3>
            <p class="text-alt">برنامه های پرمحتوای همایش<br><span class="highlight">فعالیت ها</span></p>

            <!-- Schedule start -->
            <div class="schedule">

                <!-- Navigation by day start -->
                <div class="nav-wrapper">
                    <span class="nav-current"><h5 class="highlight">Day 1</h5><p class="text-alt">08/10/2016</p></span><ul class="nav nav-schedule">
                        <!--<li class="active"><a href="#day1" data-toggle="tab"><h5 class="highlight">Day 1</h5><p class="text-alt">08/10/2016</p></a></li>
                        <li><a href="#day2" data-toggle="tab"><h5 class="highlight">Day 2</h5><p class="text-alt">09/10/2016</p></a></li>
                        <li><a href="#day3" data-toggle="tab"><h5 class="highlight">Day 3</h5><p class="text-alt">10/10/2016</p></a></li>
                        <li><a href="#day4" data-toggle="tab"><h5 class="highlight">Day 4</h5><p class="text-alt">11/10/2016</p></a></li>-->
                        <li class="active"><a href="#day5" data-toggle="tab"><h5 class="highlight">برنامه ها</h5></a></li>
                    </ul>
                </div>
                <!-- Navigation by day end -->
                <!-- First level content start -->
                <div class="tab-content">

                    <!-- Day 1 content start -->
                    <div id="day1" class="tab-pane fade active in">

                        <!-- Navigation by auditorium start -->
                        <div class="nav-wrapper">
                            <span class="nav-current">Auditorium 1</span><ul class="nav nav-schedule">
                                <li class="active"><a href="#day1_auditorium1" data-toggle="tab">1399/08/23</a></li>
                                <li><a href="#day1_auditorium6" data-toggle="tab"></a></li>
                                <li><a href="#day1_auditorium5" data-toggle="tab"></a></li>
                                <li><a href="#day1_auditorium4" data-toggle="tab"></a></li>
                                <li><a href="#day1_auditorium2" data-toggle="tab"></a></li>
                                <li><a href="#day1_auditorium3" data-toggle="tab"></a></li>
                            </ul>
                        </div>
                        <!-- Navigation by auditorium start -->
                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Auditorium 1 content start -->
                            <div id="day1_auditorium1" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day1_auditorium1_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <span class="fa fa-cutlery"></span>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">برنامه یک<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day1_auditorium1_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Luctus at accumsan eget ut ante. Cras molestie sollicitudin. Ultricies et eros id quisque auctor. Per mus enim ac lorem integer. Erat netus id. Porta enim quis et elementum amet risus volutpat magna nec ac.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->
                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper"></div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time2" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>5:40 PM</strong>
                                            <h6 class="title">برنامه دوم<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day1_auditorium1_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Wisi id tristique. Aliquam orci vulputate. Turpis tempor erat at dictum pellentesque. Neque facilisis cras. Venenatis vel posuere sodales scelerisque leo vel nec enim. Blandit nullam sodales lectus nulla lorem penatibus sed nec eget eros.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->
                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time3" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:00 PM</strong>
                                            <h6 class="title">Start your business your eyes around the world<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day1_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Integer in eu. Quis id curabitur tellus est enim. Ut est ultrices. Vitae ad ut nunc quisquam interdum libero neque magna nonummy sapien sit. In sit lacus. Maecenas molestie fusce ut feugiat vestibulum dui mauris.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->
                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time4" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day1_auditorium1_time4" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Lorem vel lorem. Nulla ab justo. Scelerisque penatibus eget. Nunc ultrices nec sed lobortis et. Vitae massa massa pede magna sociosqu viverra tempus justo. Et quis ornare nisl mi ligula suscipit ullamcorper massa ante diam.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 1 content end -->
                            <!-- Auditorium 2 content start -->
                            <!-- Auditorium 2 content end -->
                            <!-- Auditorium 3 content start -->
                            <!-- Auditorium 3 content end -->

                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 1 content end -->
                    <!-- Day 2 content start -->
                    <!-- Day 2 content end -->
                    <!-- Day 3 content start -->
                    <!-- Day 3 content end -->
                    <!-- Day 4 content start -->
                    <!-- Day 4 content end -->
                    <!-- Day 5 content start -->
                    <div id="day5" class="tab-pane fade in">

                        <!-- Navigation by auditorium start -->
                        <div class="nav-wrapper">
                            <span class="nav-current">Auditorium 1</span><ul class="nav nav-schedule">
                                <li class="active"><a href="#day5_auditorium1" data-toggle="tab">Auditorium 1</a></li>
                                <li><a href="#day5_auditorium2" data-toggle="tab">Auditorium 2</a></li>
                                <li><a href="#day5_auditorium3" data-toggle="tab">Auditorium 3</a></li>
                            </ul>
                        </div>
                        <!-- Navigation by auditorium end -->
                        <!-- Second level content start -->
                        <div class="tab-content tab-content-schedule">

                            <!-- Auditorium 1 content start -->
                            <div id="day5_auditorium1" class="tab-pane fade active in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day5_auditorium1_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium1_timeline" href="#day5_auditorium1_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium1_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Vitae tellus donec vivamus quam diam. Neque lorem ut nisl nisl ante ipsum eu accumsan phasellus ligula nisl. Eu mauris exercitationem. Nullam eu quam elementum sit phasellus. Erat tempus eiusmod. Ut volutpat venenatis eu feugiat.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->
                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium1_timeline" href="#day5_auditorium1_time3" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:00 PM</strong>
                                            <h6 class="title">Close your eyes around the world<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Odio sed arcu. Lorem tempor mauris. Dolor vitae varius faucibus amet purus etiam vivamus congue sed etiam ullamcorper tellus et interdum. Ut libero interdum. Lacinia vel faucibus. Dis justo dolor enim ante nisl fames a.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->
                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium1_timeline" href="#day5_auditorium1_time4" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium1_time4" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Nunc est elementum. Lorem nullam id. Neque lorem sem. Quam nulla pretium augue condimentum lorem. Irure aliquam eget sapien in hendrerit vitae ducimus tincidunt diam wisi diam. Malesuada erat nibh natoque augue etiam semper justo.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 1 content end -->
                            <!-- Auditorium 2 content start -->
                            <div id="day5_auditorium2" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day5_auditorium2_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium2_timeline" href="#day5_auditorium2_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium2_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Dui maecenas curabitur donec suspendisse ipsum. Vel luctus eros. Porttitor ac repudiandae. Mauris enim risus mauris litora ipsum lectus integer nullam. Sollicitudin mus tortor. Natoque metus etiam euismod bibendum ornare facilisi sit et dui sem.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 2 content end -->
                            <!-- Auditorium 3 content start -->
                            <div id="day5_auditorium3" class="tab-pane fade in">

                                <!-- Accordion start -->
                                <div class="panel-group" id="day5_auditorium3_timeline">

                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium3_timeline" href="#day5_auditorium3_time1" class="schedule-item-toggle">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>2:20 PM</strong>
                                            <h6 class="title">How to organize great events<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium3_time1" class="panel-collapse collapse in schedule-item-body">
                                            <article>
                                                <p class="description">Orci integer suspendisse. Iaculis libero primis rutrum pede eget at fermentum vel. Sem in turpis quis accumsan malesuada. Turpis id vivamus. Nec enim quasi potenti rhoncus id. Sed vestibulum ut tincidunt amet neque nulla vulputate.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->
                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium3_timeline" href="#day5_auditorium3_time2" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>5:40 PM</strong>
                                            <h6 class="title">Scaling into crowded space<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium3_time2" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Suscipit lacus tellus. Varius et at. Eros amet dignissim pede eget augue maecenas in sodales sed sapien nam venenatis lectus iaculis urna nunc dolor. Lobortis class dapibus. Aptent est donec. Ante dolor metus enim mollis.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->
                                    <!-- Lecture start -->
                                    <div class="panel schedule-item">
                                        <div class="lecture-icon-wrapper">
                                            <img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <a data-toggle="collapse" data-parent="#day5_auditorium3_timeline" href="#day5_auditorium3_time4" class="schedule-item-toggle collapsed">
                                            <strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
                                            <h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
                                        </a>
                                        <div id="day5_auditorium3_time4" class="panel-collapse collapse schedule-item-body">
                                            <article>
                                                <p class="description">Pharetra expedita lorem. Turpis ipsum sodales. Porttitor posuere ipsum vestibulum suspendisse pellentesque. Scelerisque a pellentesque molestie vel ullamcorper dolor scelerisque erat. In vestibulum in suspendisse duis ligula. Urna interdum purus amet mi rutrum maecenas elit.</p>
                                                <strong class="highlight speaker-name">Michael Lambert</strong>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- Lecture end -->

                                </div>
                                <!-- Accordion end -->

                            </div>
                            <!-- Auditorium 3 content end -->

                        </div>
                        <!-- Second level content end -->

                    </div>
                    <!-- Day 5 content end -->

                </div>
                <!-- First level content end -->

            </div>
            <!-- Schedule end

                        <div class="col-sm-12 align-center">
                            <a href="elements/schedule.html" target="_blank" class="btn btn-outline-clr btn-md">SCHEDULE STYLES</a>
                        </div>
            -->
        </div>

    </section>

    <!--<section id="sign_up" class="section bg-cover overlay bg4 light-text align-center">
        <div class="container">
            <h2><span class="highlight">Newsletter</span> Sign Up</h2>
            <small>No Spam - Only latest news, price and activity updates</small>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form id="subscribe_main" action="" method="post" enctype="multipart/form-data" class="form row newsletter-form mailchimp-form">
                    <fieldset class="col-sm-8">
                        <input id="NewsletterEmail" name="NewsletterEmail" type="email" placeholder="email@email.com">
                    </fieldset>
                    <fieldset class="col-sm-4">
                        <input type="submit" value="submit" class="btn btn-sm btn-outline-clr">
                    </fieldset>
                    <div class="response"></div>
                </form>
            </div>
        </div>
    </section>-->

    <section id="prices" class="section align-center">
        <div class="container">
            <span class="icon section-icon icon-shopping-04"></span>
            <h3>بلیط ها</h3>
            <p class="text-alt">نوع بلیط خود را انتخاب کنید</p>
            <br>

            <div class="row">
                <div class="col-sm-4">
                    <div class="package-column">
                        <h6 class="package-title">Early Bird</h6>
                        <div class="package-price">
                            <span class="currency">$</span>33
                        </div>


                        <div class="package-detail">
                            <ul>
                                <li><span class="fa fa-check check-icon"></span>Regular Seating</li>
                                <li><span class="fa fa-check check-icon"></span>Free Snacks</li>
                                <li><span class="fa fa-check check-icon"></span>Custom Badge</li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-lg btn-outline-clr">Buy now</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="package-column special-column">
                        <span class="sale-label uppercase">Hot!</span>
                        <h6 class="package-title">Silver Pass</h6>
                        <div class="package-price">
                            <span class="currency">$</span>99
                        </div>
                        <div class="package-detail">
                            <ul>
                                <li><span class="fa fa-check check-icon"></span>Regular Seating</li>
                                <li><span class="fa fa-check check-icon"></span>Free Snacks</li>
                                <li><span class="fa fa-check check-icon"></span>Custom Badge</li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-lg">Buy now</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="package-column">
                        <h6 class="package-title">Gold Pass</h6>
                        <div class="package-price">
                            <span class="currency">$</span>150
                        </div>
                        <div class="package-detail">
                            <ul>
                                <li><span class="fa fa-check check-icon"></span>Regular Seating</li>
                                <li><span class="fa fa-check check-icon"></span>Free Snacks</li>
                                <li><span class="fa fa-check check-icon"></span>Custom Badge</li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-lg btn-outline-clr">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="register" class="section overlay overlay-clr bg-cover bg4 light-text align-center">
        <div class="container">
            <span class="icon section-icon icon-documents-bookmarks-12"></span>
            <h3>اسپانسرهای اصلی</h3>
            <p class="text-alt">شرکت هایی که از ما حمایت می کنند</p>
            <br>
            <br>

            <div class="sponsors">
                <div class="sponsor big"><img src="assets/img/sponsors/sponsor-big-1.png" alt=""></div>
                <div class="sponsor big"><img src="assets/img/sponsors/sponsor-big-2.png" alt=""></div>
                <div class="sponsor big"><img src="assets/img/sponsors/sponsor-big-3.png" alt=""></div>
                <div class="sponsor big"><img src="assets/img/sponsors/sponsor-big-4.png" alt=""></div>
            </div>

            <div class="sponsors">
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor1.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor2.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor3.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor4.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor5.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor6.png" alt=""></div>
            </div>
            <div class="sponsors">
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor9.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor10.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor1.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor2.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor3.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor4.png" alt=""></div>
            </div>
            <div class="sponsors">
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor5.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor6.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor7.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor3.png" alt=""></div>
            </div>

            <div class="sponsors">
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor2.png" alt=""></div>
                <div class="sponsor inline"><img src="assets/img/sponsors/sponsor1.png" alt=""></div>
            </div>

        </div>
    </section>


    <section id="contacts">
        <div class="contacts-wrapper">
            <div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

            <div class="container contacts-on-map-container" style="direction: rtl;">
                <div class="contacts-on-map">
                    <h3>آدرس</h3>
                    <ul class="list">
                        <li><i class="fa fa-map-marker"></i>تبریز- چایکنار- روبروی شهرداری منطقه یک- طبقه نه</li>
                        <li><i class="fa fa-envelope"></i>event@negahglobal.com</li>
                        <li><i class="fa fa-phone"></i>041-33377911 (+98)</li>
                        <li><i class="fa fa-clock-o"></i>8:00 - 22:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container">

            <div class="col-md-4">
                <div class="widget about-widget">
                    <h6 class="widget-head">پیام مدیر عامل <span class="highlight">هلدینگ نگاه</span></h6>
                    <p class="text-alt"><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</small></p>

                    <img src="assets/img/autograph-143x105.png" alt="autograph">
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-lg-offset-1">
                <div class="widget twitter-widget">
                    <h6 class="widget-head"><span class="fa fa-twitter"></span> Twitter Feed</h6>

                    <ul class="tweets-list">
                        <li class="tweet">
                            <p class="text-alt tweet-text">Grabehan <a href="#">#NowPlaying</a> Future People by Alabama Shakes <a href="http://spoti.fi/1CTPWcW">http://spoti.fi/1CTPWcW</a></p>
                            <small class="tweet-date">7 sep 2015</small>
                        </li>

                        <li class="tweet">
                            <p class="text-alt tweet-text">Loving <a href="#"></a> so far. Ghost theming here I come!</p>
                            <small class="tweet-date">8 sep 2015</small>
                        </li>

                        <li class="tweet">
                            <p class="text-alt tweet-text">We didn't set out to be superheroes. But sometimes, life doesn't go the way you planned. <a href="#">#TI5</a> <a href="#">#BleedBlue</a></p>
                            <small class="tweet-date">9 sep 2015</small>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-lg-offset-1">
                <div class="widget instagram-widget">
                    <h6 class="widget-head"><span class="fa fa-instagram"></span> Photo feed</h6>

                    <ul class="instagram-list">
                        <li><img src="assets/img/gallery/footer-photo.jpg" alt="photo"></li>
                        <li><img src="assets/img/gallery/footer-photo.jpg" alt="photo"></li>
                        <li><img src="assets/img/gallery/footer-photo.jpg" alt="photo"></li>
                        <li><img src="assets/img/gallery/footer-photo.jpg" alt="photo"></li>
                        <li><img src="assets/img/gallery/footer-photo.jpg" alt="photo"></li>
                        <li><img src="assets/img/gallery/footer-photo.jpg" alt="photo"></li>
                        <li><img src="assets/img/gallery/footer-photo.jpg" alt="photo"></li>
                        <li><img src="assets/img/gallery/footer-photo.jpg" alt="photo"></li>
                        <li><img src="assets/img/gallery/footer-photo.jpg" alt="photo"></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="footer-base">
            <div class="container">    
                <div class="col-md-12 align-center">
                    <ul class="socials-nav align-c">
                        <li class="socials-nav-item"><a href="https://www.twitter.com/negah_event"><span class="fa fa-twitter"></span></a></li>
                        <li class="socials-nav-item"><a href="https://www.facebook.com/negah_event"><span class="fa fa-facebook"></span></a></li>
                        <li class="socials-nav-item"><a href="https://www.linkedin.com/company/negah-event"><span class="fa fa-linkedin"></span></a></li>
                        <li class="socials-nav-item"><a href="https://www.youtube.com/negah_event"><span class="fa fa-youtube"></span></a></li>
                        <li class="socials-nav-item"><a href="https://www.instagram.com/negah_event"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                    <p class="text-alt"><small>تمام حقوق این سایت متعلق به هلدینگ نگاه میباشد.©</small></p>
                </div>

            </div>
        </div>
    </section>

    <div class="modal-window" data-modal="email-ticket" style="background-color: rgba(2, 2, 2, 0.85);">
        <div class="modal-box small animated" data-animation="zoomIn" data-duration="700" style="opacity: 1;">
            <span class="close-btn icon icon-office-52"></span>

            <h5 class="align-center"><span class="highlight">نام نویسی</span></h5>



            <fieldset class="col-sm-12">
                <label style="float: right" for="first_name">نام</label>
                <input id="first_name" name="first_name" type="text">
            </fieldset>

            <fieldset class="col-sm-12">
                <label style="float: right" for="last_name">نام خانوادگی</label>
                <input id="last_name" name="last_name" type="text">
            </fieldset>

            <fieldset class="col-sm-12">
                <label style="float: right" for="email">Email</label>
                <input id="email" name="email" type="email">
            </fieldset>
            <fieldset class="col-sm-12">
                <label style="float: right" for="email">موبایل</label>
                <input id="mobile" name="mobile" type="tel">
            </fieldset>
            <fieldset class="col-sm-12">
                <label style="float: right" for="email">کدملی</label>
                <input id="NationalCode" name="NationalCode" type="text">
            </fieldset>

            <fieldset class="col-sm-12">
                <label style="float: right" for="pass1">نوع بلیط</label>
                <select style="float: right" id="Cmbtikcet">
                    <option style="float: right" value="1">طلایی</option>
                    <option style="float: right" value="2">نقره ای</option>
                    <option style="float: right" value="3">برنزی</option>
                </select>
            </fieldset>


            @*<fieldset class="col-sm-12">
                    <input id="privacy" name="privacy" type="checkbox"><label for="privacy">I read &amp; agree with <a href="#">Terms of service</a> </label>
                    <br>
                    <br>
                </fieldset>*@

            <input type="button" id="BuyTicket" value="خرید بلیط" class="btn">


        </div>
    </div>

    <div class="modal-window" data-modal="0" style="background-color: rgba(2, 2, 2, 0.85);">
        <div class="modal-box iframe-box iframe-video">
            <span class="close-btn icon icon-office-52"></span>

            <iframe src="" frameborder="0" allowfullscreen="" __idm_frm__="587"></iframe>
        </div>
    </div>


    <script type="text/javascript" src="assets/js/jquery-2.1.4.min.js?ver=1"></script>


    <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;libraries=places"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="assets/js/toastr.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="assets/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/modal-box.js"></script>
    <script src="~/assets/js/jquery.countdown.js"></script>
    <script src="~/js/Site.js"></script>
    @*//  <script src="~/assets/js/jquery.countTo.js"></script>*@

    <script type="text/javascript" src="assets/js/ventcamp.js"></script>


</body>
</html>