@{
    ViewData["Title"] = "جزئیات بلیط";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section align-center">
    <div class="container">
        <h1> جزئیات بلیط طرح  <span id="typeName" class="highlight"></span></h1>
        <br/>
        <h3> قیمت :   <span id="price" class="highlight"></span> هزار تومان</h3>
    </div>
</section>



<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 " >
                <div class="package-detail">
                    <ul class="text-right" dir="rtl" id="DivDetailes">
                    </ul>

                </div>

                <a href="#" class="btn btn-lg btn-outline-clr" data-modal-link="email-ticket">رزرو</a>
            </div>
        </div>
    </div>
</section>





<div class="modal-window" data-modal="email-ticket" style="background-color: rgba(2, 2, 2, 0.85);">
    <div class="modal-box small animated" data-animation="zoomIn" data-duration="700" style="opacity: 1;">
        <span class="close-btn icon icon-office-52"></span>

        <h5 class="align-center"><span class="highlight">نام نویسی</span></h5>



        <fieldset class="col-sm-12">
            <label style="float: right" for="first_name">نام</label>
            <input id="first_name" name="first_name" type="text">
        </fieldset>

        <fieldset class="col-sm-12">
            <label style="float: right" for="last_name">نام خانوادگی</label>
            <input id="last_name" name="last_name" type="text">
        </fieldset>

        <fieldset class="col-sm-12">
            <label style="float: right" for="email">Email</label>
            <input id="email" name="email" type="email">
        </fieldset>
        <fieldset class="col-sm-12">
            <label style="float: right" for="email">موبایل</label>
            <input id="mobile" name="mobile" type="tel">
        </fieldset>
        <fieldset class="col-sm-12">
            <label style="float: right" for="email">کدملی</label>
            <input id="NationalCode" name="NationalCode" type="text">
        </fieldset>

        <fieldset class="col-sm-12">
            <label style="float: right" for="pass1">نوع بلیط</label>
            <select class="text-right" dir="rtl" style="float: right" id="Cmbtikcet">

            </select>
        </fieldset>


        @*<fieldset class="col-sm-12">
                <input id="privacy" name="privacy" type="checkbox"><label for="privacy">I read &amp; agree with <a href="#">Terms of service</a> </label>
                <br>
                <br>
            </fieldset>*@

        <input type="button" id="BuyTicket" value="خرید بلیط" class="btn">


    </div>
</div>






@section scripts {
   
    <script src="~/js/TicketDetails.js"></script>
}


