
@{
    ViewData["Title"] = "خرید بلیط";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section align-center">
    <div class="container">
        <h3 class="heading-alt">خرید بلیط</h3>
    </div>
</section>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 ">
                <div id="waitingpayment">
                    <img src="/assets/img/Waiting.gif" style="width: 250px;height: 250px">
                    <h1> دریافت <span class="highlight">اطلاعات</span></h1>
                </div>
                <div id="successpayment" style="display: none;">
                    <img src="/assets/img/SuccessPay.png" style="width: 150px; height: 150px">
                    <h1> پرداخت <span class="highlight">موفق</span></h1>
                    <h3> شماره بلیط :  <span class="highlight" id="ticketNo"></span></h3>
                </div>
                <div id="failurepayment" style="display: none;">
                    <img src="/assets/img/ErrorPay.png" style="width: 150px; height: 150px">
                    <h1> پرداخت <span class="highlight">ناموفق</span></h1>
                    <br>
                </div>
            </div>


        </div>
    </div>
</section>





@section scripts {
    <script src="~/js/VerifyPayment.js"></script>
}
